.weatherImage{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    vertical-align: middle;
    background: white;
    padding: 2px;
}

.temperature{
    font-size: 2em;
}

.imageAndTempBox{
    padding: 10px;
    background: lightgrey;
    width: 30%;
    text-align: center;
    margin: 0 auto;
}